#main_container {
  width: 100%;
  margin: auto;
  padding: 0 10% 0 10%;
}

a {
  text-decoration: none;
}

span {
  letter-spacing: 1.2px;
  font-size: 1em;
}

.router_link {
  text-decoration: none;
}

.card {
  padding: 2em;
}

.squirrel_card {
  min-width: 300px;
  border-radius: 2%;
}

.pic_width {
  width: 100%;
  border-radius: 2% 2% 0% 0%;
}